

@media ( max-width: 101.75em ){                 //1628px
    .foto h1{ 
        font-size: 2.8em;
        width: 90%;
    }
}

@media ( max-width: 100em ){                     //1600
    .overlay{
        height: 100vh;
    }
}

@media ( max-width: 96.875em ){                 //1550px
    .articles{ 
        h1{ width: 50%;}
    }
}

@media ( max-width: 85.6875em ){            //1371px
    .novinky .span-blog{ width: 15%; }
    .blue-bg .articles h1{ width: 60%;}
}

@media ( max-width: 80.5625em ){              //1289px
    
    .novinky-container{ width: 70%; }
    .course-container{ width: 90%;}
    
}

@media( max-width: 75.25em ){               //1204px
    .novinky h1{ font-size: 2em;}
}

@media (max-width: 73em){                   //1168px
    .container{
        width: 80%;
    }
    .fourth-section{
        font-size: 90%;
        width: 70%;
    }

    .novinky{
        flex-wrap: wrap;
        .clanok{ 
            flex-basis: 48%;
            margin-bottom: 1em;

            &:nth-child(2),
            &:last-child{ margin-right: 0;}
        }
    }

    
    
    .sidebar{ 
        display: block;
        width: 100%;
    }

    .articles{ margin-right: 0; }

    .novinky-section h1:first-child{ width: 25%; }
    .questions{ width: 85%; }
    .meet-the-team .container{ width: 95%;}

    .index-about{
        article{ 
            padding: 4em 2em;
        }
    }

    .courses-container{
        width: 90%;
    }
}

@media( max-width: 67.3125em ){             //1077px

    .novinky-container{ 
        width: 80%; 
        font-size: 90%;
    }
    
    .first-section{
        background-position-y: 100%;
    }

    .overlay{
        .uvod-bg{
            width: 40%;
            padding: 2em .5em;
        }

        p{ font-size: 1em;}

        .right-color-line{
            margin-right: 11em;
        }
            
        .left-color-line{
            margin-left: 11em;
        }

        .left{
            margin-left: 10em;
        }
            
        .right{
            margin-right: 10em;
        }
    }
}

@media ( max-width: 63.3125em ){
    .c-address{
    
        h2{
            width: 30%;
        }
    }

    .prefooter{
        flex-wrap: wrap;
        .footerBlog{
            order: 3;
            flex-basis: 100%;
            text-align: center;
            padding-top: 2em;
        }
    }

    
    
}

@media( max-width: 63.375em ){                 //1046px
    .questions{ width: 90%; }
    .gallery{
        flex-direction: column;
        img{ min-width: 100%; }
    }

    .index-courses{
        aside{
            h2{ border: none;}
        }
         
    }
}

@media (max-width: 63.125em ){               //1010px
    .navigation li{ display: none; }
    .fa-bars{ display: block; }

    .first-section .container,
    .second-section .container,
    .third-section .container{
        width: 80%;
    }

    .novinky .span-blog{ width: 17%; }
    .articles h1{ width: 60%; }
    .blue-bg .articles h1{ width: 70%; }

    .index-about{
        aside h2{ border: none;}
        article{ 
            padding: 3em 1em;

            p{
                font-size: .9em;
            }
            a{
                font-size: .95em;
            }
        }
    }

    .membership-wrapper,
    .companies-wrapper{
        .articles{
            padding-left: 1em;
            padding-right: 1em;
            padding-top: 4em;
            padding-bottom: 5em;
        }
    }

    .cards-wrapper{
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1em;
        .clenstvo-info{
            grid-column-start: 1;
            grid-column-end: 4;
            grid-row-start: 1;
            grid-row-end: 2;
        }

        .co-ponukame:nth-child(2){
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 2;
            grid-row-end: 4;
            

            p{
                padding-bottom: 1em;
                padding-top: 3em;
            }
        }
    }
    
    .courses-wrapper{
        display: block;
    }

    .list-of-courses{
        display: grid;
        width: 80%;
        margin: 3em auto 0 auto;
        grid-template-columns: 1fr 1fr;
        gap: 2em;
        .course-list-card{
            margin-top: 0;
            
        }
    }

    .about-course h1{ font-size: 1.9em;}

    
}

@media ( max-width:60.3125em ){                 //965
    .meet-the-team h2{ font-size: 1.2em;}
}

@media( max-width: 57.75em ){                   //924px   
    .c-links{
        justify-content: space-around;
        margin: 0 auto;
        width: 80%;
    }
    
    .c-icons{
        flex-basis: 50%;
        margin-bottom: 7em;
    }

    .c-address{
        .mapouter{
            flex-basis: 100%;
        }
        .address-info{
            margin-bottom: 5em;
        }
        
    }

    .index-courses{
        aside{
            h2{ font-size: 1.3em;}
        }
         
    }
    
}

@media( max-width: 56.5em){                         //904px
    .fourth-section{ width: 80%;}
    .novinky-container{ width: 90%; }
}

@media ( max-width: 53.625em){                       //858px
    

    

    .sidebar{
        .directors{ display: none; }
    }

    .articles h1{ 
        width: 100%; 
        text-align: left;
        border: none;
        margin-bottom: 0;
        
    }

    .articles{
        text-align: left;
        h1{
            margin-top: -1em; 
        }
    }

    .membership-wrapper,
    .companies-wrapper{
        .articles{
            h1{ margin-top: 0;}
        }
        
    }
    .blue-bg .articles h1{ 
        width: 100%;
        text-align: left;
        border:none;
    }

    .cards-wrapper{

        .clenstvo-info{
            font-size: .95em;
        }
        .co-ponukame{
            p{
                font-size: 0.95em;
                
            }
    
            &:nth-child(2){
                p{
                    padding-top: 0em;
                }
            }
        }
    }

    .list-of-courses{
        width: 100%;
    }
    
}

@media ( max-width: 50.9375em ){        //815
    .co-ponukame{
        
        li{ 
            width: 60%;
            margin-bottom: 2em;
            &:last-child{ margin-bottom: 0; }
        }
    }

    .index-about{
        
        article{ 
            padding: 2em 1em;
        }
    }
}

@media ( max-width: 49.5em){                //792
    .questions h1{ font-size: 2em; }
    .questions { 
        width: 90%; 
        .fas{
            font-size: 1.3em;
            margin-right: 0;
            margin-left: .5em;
        }
    }

    .c-contact h1{ font-size: 3.2em; }

    

    .foto h1{ font-size: 2.6em; }

    .fourth-section{ width: 85%;}

    .novinky-section h1:first-child{ width: 30%;}

    .blog-navigation{ display: none; }
    .blog-container{
        .blog-section{ flex-basis: 100%; }
    }
    
    

    .prefooter{
        flex-direction: column;
        text-align: center;
        padding-top: 2em;
        padding-bottom: 4em;
        section{
            width: 25em;
            border-bottom: .5px solid #ccc;
            margin-top: 2em;
            
            .address{ 
                margin-top: 0; 
                
            }
            .fb, .ig{
                margin-bottom: .5em;
            }
            h1{ margin-top: -.5em; }
        }

        .contact{ 
            border-bottom: none; 
            margin-bottom: 0;
        }
        
    }
 
    .meet-the-team {
        .team{ flex-basis: 49%; }
        .clenovia{ 
            width: 80%; 
            margin: 0 auto;
        }
        img{
            margin-bottom: 1em;
        }
    }

    .index-courses{
        grid: none;
        margin-top: 3em;
        aside{
            background: none;
            h2{ 
                color: #454545;
                font-weight: 500;
                font-size: 1.8em;
            }
        }
        
        .index-posters{
            margin-left: 0;
            
            img{
                border-radius: 0;
            }
        }
    }

    .membership-wrapper,
    .companies-wrapper{ 
        grid-template-columns: 1fr 1fr;
    }
    
    .overlay{
        .uvod-bg{
            width: 50%;
            padding: 2em .5em;
        }

        p{ font-size: .95em;}

        .right-color-line{
            margin-right: 8em;
        }
            
        .left-color-line{
            margin-left: 7.5em;
        }

        .left{
            margin-left: 4em;
        }
            
        .right{
            margin-right: 4em;
        }
    }
        
}

@media ( max-width: 44.625em ){             //714px
    
    .fourth-section{ width: 90%; }
    .novinky-container{ 
        width: 65%; 
        font-size: 100%;
    }
    .novinky{ 
        flex-basis: 100%;
        margin-bottom: 3em;
        .span-blog{
            width: 13%;
        }
        h1{
            border-radius: 0;
        }
        h3{ 
            display: block;
            background: rgba(0,0,0,.6);    
            border-radius: 0 0 7px 7px;
            padding-bottom: .3em;
        }
    }

    .index-about{
        grid-template-columns: 1fr 1fr;
        aside{ display: none;}
    }

    .list-of-courses{
        width: 80%;
        display: block;
        .course-list-card{
            margin-top: 2em;
        }
        .course-list-card:first-child{
            margin-top: 0;
        }
    }
    
    .overlay{
        background-attachment: unset;
    }
}    

@media ( max-width: 40.5625em ){            //649px

    .bestInternational a:last-child{ margin-left: 5em; }
    .foto h1{ font-size: 2.3em; }

    .c-contact{ font-size: 90%;}
    .novinky-container{ width: 80%;}

    .articles{
        padding-top: 5em ;
        padding-bottom: 5em;
        h1{ margin-bottom: 0; }
    }

    

    .companies-wrapper{
        grid: none;
        .companies-bg{
            background-image: none;
        }
    }

    .membership-wrapper{
        grid: none;
        .membership-bg{
            background-image: none;
        }
    }

    .companies-wrapper,
    .membership-wrapper{
        .articles p{ 
            padding-left: 0em;
            padding-right: 0em;
            font-size: .9em;
            
        }
    }

    .cards-wrapper{
        grid-template-columns: 1fr 1fr;
        .co-ponukame:nth-child(2){
            grid-column-start: 1;
            grid-column-end: 4;
            grid-row-start: 2;
            grid-row-end: 3;
        }
        .co-ponukame:nth-child(3){
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 3;
            grid-row-end: 4;
        }
        .co-ponukame:nth-child(4){
            grid-column-start: 2;
            grid-column-end: 4;
            grid-row-start: 3;
            grid-row-end: 4;
        }
        .co-ponukame:nth-child(3),
        .co-ponukame:nth-child(4){
            p{ padding-top: 3em;}
        }
    }

    .first-section{
        background-position-x: 50%;
    }
}

@media( max-width: 37.6875em ){             //603px
    .novinky-section h1:first-child{ width: 40%; }

    .index-courses{
        .index-posters{
            grid: none;
            gap: 0;

            img:nth-child(odd){
                border-top-right-radius: 0px;
                border-bottom-right-radius: 0px;
            }

            img:nth-child(even){
                border-top-left-radius: 0px;
                border-bottom-left-radius: 0px;
            }
        }
    }

    .foto{
        background-position-x: 25%;
    }

    .overlay{

        .article-container
        
        .uvod-bg{
            width: 21.375em;
            padding: 2em .5em;
        }

        p{ font-size: 1em;}

        .right-color-line,
        .left-color-line{
            width: 5.4375em;
        }
        .right-color-line{
            margin-right: 11em;
            position: relative;
            left: 95px;
            margin-left: 50%;
            margin-right: 50%;
        }
            
        .left-color-line{
            position: relative;
            left: -95px;
            margin-left: 50%;
            margin-right: 50%;

        }

        .left{
            margin: 0 auto;
        }
            
        .right{
            margin: 0 auto;
        }
    }
    
}

@media (max-width: 35.4375em){              //567px
    .container{ width: 90%; }
    .logo{ width: 150px; }
    .fa-bars{ padding-top: 1.16em; }
    
    .first-section .container,
    .second-section .container,
    .third-section .container{
        width: 90%;
    }
    .text{ 
        font-size: 90%; 
        line-height: 1.7em;
        
    }
    .fourth-section{
        h1{ padding: 0.5em; } 
        width: 75%;
     }
    .novinky .clanok{ 
        flex-basis: 100%; 
        margin-right: 0;
    }
    
    .clenstvo-info{
        padding: 0.5em;
        ul{
            margin-top: 2em;
        }
        li{ 
            flex-basis: 100%;
            &:nth-child(1),
            &:nth-child(2){
            margin-bottom: 3em;
            }
            margin-bottom: 3em;
        }
        h2{ font-size: 1.4em;}
    }

    .meet-the-team { margin-top: 4em; }

    .foto .overlay-first{
        h1{
            font-size: 2em;
        }
    }

    .overlay:nth-child(3){
        background-position-x: 20%;
    }

    .c-links{
        justify-content: space-around;
        margin: 0 auto;
        width: 100%;
    }
}

@media ( max-width: 33.875em ){             //542px
    
}

@media ( max-width: 32.5em ){               //520px
    .questions{ width: 100%; }

    .c-contact{
        h1{ 
            font-size: 2.5em; 
            word-spacing: .1em;
            letter-spacing: 0em;
        }
        h2{ font-size: 1em; }
    }

    .subsite-settings{ 
        background: none;
        .container{ width: 100%;}
    }

    .about{ 
        box-shadow: none;
        text-align: left;
        padding: 1em;
    }

    .articles{
        article:last-child{ padding-bottom: 0;}
    }

    .prefooter section{ width: 95%;}

    .index-about{
        grid: none;

        article:nth-child(3),
        article:nth-child(4),
        article:nth-child(7){
            display: none;
        }

        article{
            border-bottom: 1px solid lighten( #454545, 50%);
        }
        article:nth-child(6){ border-bottom: none;}
    }

    .index-courses{
        margin-top: 0;
    }

    .list-of-courses{ 
        width: 100%;
        font-size: 90%;
    }

    .courses-wrapper{
        margin-top: 4em;
        margin-bottom: 4em;
    }

    .course-container h1{ padding-bottom: 1.5em;}

    .foto .overlay-first{
     
        h1{
            text-align: left;
            padding: 0;
            padding-top: 11em;
            padding-left: .2em;
            padding-bottom: .2em;
            width: 100%;
        }
        
    }

    
}

@media( max-width: 31.3125em ){              //501px

    .bestInternational a:first-child{ margin-left: 1em; }
    .bestInternational a:last-child{ 
        margin-right: 1em;
        margin-left: 10%;
    }
    
    .novinky-container{ 
        width: 90%; 
        font-size: 90%;
    }
    .novinky{ margin-bottom: 1em;}
    .novinky-section h1:first-child{ 
        width: 48%;
        font-size: 2em;
    }

    .blue-bg .articles h1 { font-size: 2em; }
    .articles h1{ font-size: 2em; }

    .meet-the-team{
        .clenovia{
            width: 97%;
        }
        h1{ font-size: 2.2em;}
    }

    .courses-container{ width: 95%; }
    .about-course{
        font-size: 0.9em;
        flex-basis: 100%;

        .color-line{ width: 15%;}
    }

    .foto{ background-position-x: 50%;}
}

@media (max-width: 29.75em ){   //476
    .foto .overlay-first{
     
        h1{
            font-size: 1.8em;
        }
        
    }

    .library-photo .white-bg h2,
    .library-photo .blue-bg h2{
        font-size: 1.9em;
        margin-top: 0;
    }

    .blue-bg,
    .white-bg{
        padding-top: 1em;
        padding-bottom: 1em;
    }

    .third-section{
        background-position-x: 50%;
    }

    .overlay{
        
        .uvod-bg{
            width: 85%;
            padding: 2em .5em;
        }

        .left-color-line{
            position: relative;
            left: -102px;
            margin-right: 50%;
            margin-left: 50%;
            padding: 3em 0;
        }

        .right-color-line{
            position: relative;
            left: 102px;
            margin-right: 50%;
            margin-left: 50%;
            padding: 3em 0;
        }
    }
}

@media( max-width: 27.125em){               //434px
    .logo{ width: 120px ;}
    .fa-bars{ padding-top: 1em; }
    .questions h1{ font-size: 1.7em; }
    .text p{ font-size: 90%; }
    .fourth-section{ width: 85%;}
    .novinky-container{ 
        font-size: 85%;
        width: 95%;
    }

    .blue-bg .articles h1 { font-size: 1.8em; }
    .co-ponukame li{ width: 90%; }
    .meet-the-team{
        h1{ font-size: 1.9em; }
        .team{ flex-basis: 100%;}
    }

    .cards-wrapper{
        grid-template-columns: 1fr;

        .co-ponukame:nth-child(3){
            grid-column-start: 1;
            grid-column-end: 4;
            grid-row-start: 3;
            grid-row-end: 4;
        }
        .co-ponukame:nth-child(4){
            grid-column-start: 1;
            grid-column-end: 4;
            grid-row-start: 4;
            grid-row-end: 5;
        }
    }

    .overlay:nth-child(3){
        background-position-x: 30%;
    }
}

@media ( max-width: 23.9375em ){            //383px
    .bestInternational a:first-child,
    .bestInternational a:last-child{ 
        display: block;
        width: 75%;
        padding: 1em 0em;
        margin: {
            top: 1em;
            bottom: 1em;
            left: 1em;
            right: 0;
        } 
    }
    .questions{ 
        font-size: 85%; 
        line-height: 1.5em;
        letter-spacing: 1px;
    }

    .foto{ background-position-x: 40%;}
}

@media( max-width: 21.875em ){              //350px
    .c-contact{
        h1{ font-size: 2.3em;}
    }

    .novinky{
        h1{ font-size: 1.8em; }
        h3{ font-size: 1.3em; }
    }
    .novinky-section h1:first-child{ 
        width: 55%;
        font-size: 2em;
    }

    .meet-the-team h1{ font-size: 1.7em; }
}

@media( max-width: 20.75em ){               //332px
    .c-contact h1{ font-size: 2em; }
}

@media( max-width: 19.0625em ){             //305px
    
    .c-icons{
       flex-basis: 100%;
        
    }
}